html,body{
    height: 100%;
    width: 100%;
}
.continer-wrapper{
    margin: 0 auto;
    height: 100%;
}
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-yellow{
    background-color: #FFD735;
}
.bg-pink{
    background-color: #FF5BC4;
}
.bg-dark{
    background-color: #444444;
}
.bg-black{
    background-color: #000000;
}

.fill{
    height:100%;
    width:100%;
    min-height:100%;
}
.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

/*clearfix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.hide{
    /*display: none;*/

    height: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-animation: fly 0.5s linear;
    animation: fly 0.5s linear;
}

.active{
    /*display: block;*/
    visibility: visible;
    top:0;
    opacity: 1;
    min-height: 100%;
    /*transition: all 1s ease;*/
    z-index: 2;
}

.page {
    position: absolute;
    transition: all 1s linear;
}

@keyframes fly {
    0%   { top:0;opacity: 1;height: 100%;}
    100% { top: -500px;opacity: 0;height:30%;min-height: 0}
}
@-webkit-keyframes fly {
    0%   { top:0;opacity: 1;z-index: 0;height: 100%;}
    100% { top: -500px;opacity: 0;height:30%;min-height: 0}
}
.bg-img{
    /*width: 100%;*/
    background-size: auto 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    background-position: center ;
    /*margin: 0 auto;*/
}
