
*{
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    background-color: #000000;
}
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-yellow{
    background-color: #FFD735;
}
.bg-pink{
    background-color: #FF5BC4;
}
.bg-dark{
    background-color: #444444;
}
.bg-black{
    background-color: #000000;
}

.bg-img{
    background-repeat: no-repeat;
    background-position: center ;
    /*background-size: auto 100%;*/
    /*-webkit-background-size: 100% auto;*/
    /*-moz-background-size: 100% auto;*/
    /*-ms-background-size: auto 100%;;*/
    /*-o-background-size: auto 100%;;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.fill{
    height:100%;
    width:100%;
    min-height:100%;
}
.wp {
    margin: 0 auto;
    position: absolute;
    max-width: 640px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.page{
    /*font-size: 72px;*/
    /*line-height: 320px;*/
    text-align: center;
    background-color: #000000;
}

h1, h2, h3, h4{
    color: azure;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
@media screen and (min-width: 35.5em){
    h1{font-size: 22pt;}
    h2{font-size: 18pt;}
}
@media screen and (min-width: 48em){
    h1{font-size: 23pt;}
    h2{font-size: 19pt;}
}
@media screen and (min-width: 64em){
    h1{font-size: 24pt;}
    h2{font-size: 20pt;}
}

.bg-center{
    position:absolute;
    top: 45%;
    width: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
.qrcode {
    width: 141px;
    height: 141px;
}
.light{
    -webkit-box-shadow: 0 0 138px 63px rgba(255,255,255,0.6);
    -moz-box-shadow: 0 0 138px 63px rgba(255,255,255,0.6);
    box-shadow: 0 0 138px 63px rgba(255,255,255,0.6);
}

.ab-center{position:absolute;left: 0;right:0;margin:0 auto;}

.music{
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 20px;
    height: 60px;
    width: 120px;
    cursor: pointer;
    overflow-y: hidden;
}
.wave{
    position: relative;
    display: inline-block;
    top: 20px;
    left: 10px;
    width:2px;
    height: 100px;
    background-color: #2aabd2;
    padding: 1px;
}