
*{
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    background-color: #000000;
}
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-yellow{
    background-color: #FFD735;
}
.bg-pink{
    background-color: #FF5BC4;
}
.bg-dark{
    background-color: #444444;
}
.bg-black{
    background-color: #000000;
}

.bg-img{
    background-repeat: no-repeat;
    background-position: center ;
    /*background-size: auto 100%;*/
    /*-webkit-background-size: 100% auto;*/
    /*-moz-background-size: 100% auto;*/
    /*-ms-background-size: auto 100%;;*/
    /*-o-background-size: auto 100%;;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.fill{
    height:100%;
    width:100%;
    min-height:100%;
}
.wp {
    margin: 0 auto;
    position: absolute;
    max-width: 640px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.page{
    /*font-size: 72px;*/
    /*line-height: 320px;*/
    text-align: center;
    background-color: #000000;
}

h1, h2, h3, h4{
    color: azure;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
@media screen and (min-width: 35.5em){
    h1{font-size: 22pt;}
    h2{font-size: 18pt;}
}
@media screen and (min-width: 48em){
    h1{font-size: 23pt;}
    h2{font-size: 19pt;}
}
@media screen and (min-width: 64em){
    h1{font-size: 24pt;}
    h2{font-size: 20pt;}
}

.bg-center{
    position:absolute;
    top: 45%;
    width: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
.qrcode {
    width: 141px;
    height: 141px;
}
.light{
    -webkit-box-shadow: 0 0 138px 63px rgba(255,255,255,0.6);
    -moz-box-shadow: 0 0 138px 63px rgba(255,255,255,0.6);
    box-shadow: 0 0 138px 63px rgba(255,255,255,0.6);
}

.ab-center{position:absolute;left: 0;right:0;margin:0 auto;}

.music{
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 20px;
    height: 60px;
    width: 120px;
    cursor: pointer;
    overflow-y: hidden;
}
.wave{
    position: relative;
    display: inline-block;
    top: 20px;
    left: 10px;
    width:2px;
    height: 100px;
    background-color: #129FEA;
    padding: 1px;
}



.control-panel-monitor{
    padding: 1em;
    width: 400px;
    height: 200px;
    border: 1px solid #fff;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background: rgba(0,255,255,0.05);
    box-shadow: 0 0 5px 1px #0ff, 0 0 5px 1px #0ff inset;
    position: relative;
}
.control-panel-monitor:before,
.control-panel-monitor:after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,255,255,0.05);
    border: 1px solid;
    box-shadow: 0 0 5px 1px #0ff, 0 0 5px 1px #0ff inset;
}
.control-panel-monitor:before{
    left: -2px;
    color: #f00;
}
.control-panel-monitor:after{
    left: 2px;
    color: #00f;
}
.control-panel-monitor:before {
    clip: rect(23px, 400px, 10px, 0);
    -webkit-animation: glitch-1 100ms infinite linear alternate-reverse;
    animation: glitch-1 100ms infinite linear alternate-reverse;
}
.control-panel-monitor:after {
    clip: rect(72px, 400px, 23px, 0);
    -webkit-animation: glitch-2 100ms infinite linear alternate-reverse;
    animation: glitch-2 100ms infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-1 {
    0% {
        clip: rect(50px, 9999px, 104px, 0);
    }
    0.1% {
        clip: rect(37px, 9999px, 196px, 0);
    }
    0.2% {
        clip: rect(167px, 9999px, 140px, 0);
    }
    0.3% {
        clip: rect(139px, 9999px, 115px, 0);
    }
    0.4% {
        clip: rect(30px, 9999px, 152px, 0);
    }
    0.5% {
        clip: rect(88px, 9999px, 134px, 0);
    }
    0.6% {
        clip: rect(81px, 9999px, 15px, 0);
    }
    0.7% {
        clip: rect(167px, 9999px, 5px, 0);
    }
    0.8% {
        clip: rect(60px, 9999px, 133px, 0);
    }
    0.9% {
        clip: rect(36px, 9999px, 135px, 0);
    }
    1% {
        clip: rect(104px, 9999px, 69px, 0);
    }
}
@keyframes glitch-1 {
    0% {
        clip: rect(50px, 9999px, 104px, 0);
    }
    0.1% {
        clip: rect(37px, 9999px, 196px, 0);
    }
    0.2% {
        clip: rect(167px, 9999px, 140px, 0);
    }
    0.3% {
        clip: rect(139px, 9999px, 115px, 0);
    }
    0.4% {
        clip: rect(30px, 9999px, 152px, 0);
    }
    0.5% {
        clip: rect(88px, 9999px, 134px, 0);
    }
    0.6% {
        clip: rect(81px, 9999px, 15px, 0);
    }
    0.7% {
        clip: rect(167px, 9999px, 5px, 0);
    }
    0.8% {
        clip: rect(60px, 9999px, 133px, 0);
    }
    0.9% {
        clip: rect(36px, 9999px, 135px, 0);
    }
    1% {
        clip: rect(104px, 9999px, 69px, 0);
    }
}
@-webkit-keyframes glitch-2 {
    0% {
        clip: rect(133px, 9999px, 11px, 0);
    }
    0.1% {
        clip: rect(6px, 9999px, 161px, 0);
    }
    0.2% {
        clip: rect(66px, 9999px, 65px, 0);
    }
    0.3% {
        clip: rect(184px, 9999px, 112px, 0);
    }
    0.4% {
        clip: rect(176px, 9999px, 54px, 0);
    }
    0.5% {
        clip: rect(115px, 9999px, 170px, 0);
    }
    0.6% {
        clip: rect(154px, 9999px, 127px, 0);
    }
    0.7% {
        clip: rect(179px, 9999px, 6px, 0);
    }
    0.8% {
        clip: rect(198px, 9999px, 21px, 0);
    }
    0.9% {
        clip: rect(21px, 9999px, 195px, 0);
    }
    1% {
        clip: rect(97px, 9999px, 166px, 0);
    }
}
@keyframes glitch-2 {
    0% {
        clip: rect(133px, 9999px, 11px, 0);
    }
    0.1% {
        clip: rect(6px, 9999px, 161px, 0);
    }
    0.2% {
        clip: rect(66px, 9999px, 65px, 0);
    }
    0.3% {
        clip: rect(184px, 9999px, 112px, 0);
    }
    0.4% {
        clip: rect(176px, 9999px, 54px, 0);
    }
    0.5% {
        clip: rect(115px, 9999px, 170px, 0);
    }
    0.6% {
        clip: rect(154px, 9999px, 127px, 0);
    }
    0.7% {
        clip: rect(179px, 9999px, 6px, 0);
    }
    0.8% {
        clip: rect(198px, 9999px, 21px, 0);
    }
    0.9% {
        clip: rect(21px, 9999px, 195px, 0);
    }
    1% {
        clip: rect(97px, 9999px, 166px, 0);
    }
}
@-webkit-keyframes glitch-3 {
    0% {
        clip: rect(113px, 9999px, 136px, 0);
    }
    0.1% {
        clip: rect(133px, 9999px, 177px, 0);
    }
    0.2% {
        clip: rect(175px, 9999px, 96px, 0);
    }
    0.3% {
        clip: rect(176px, 9999px, 153px, 0);
    }
    0.4% {
        clip: rect(120px, 9999px, 150px, 0);
    }
    0.5% {
        clip: rect(173px, 9999px, 147px, 0);
    }
    0.6% {
        clip: rect(103px, 9999px, 68px, 0);
    }
    0.7% {
        clip: rect(120px, 9999px, 51px, 0);
    }
    0.8% {
        clip: rect(137px, 9999px, 192px, 0);
    }
    0.9% {
        clip: rect(178px, 9999px, 59px, 0);
    }
    1% {
        clip: rect(39px, 9999px, 119px, 0);
    }
}
@keyframes glitch-3 {
    0% {
        clip: rect(113px, 9999px, 136px, 0);
    }
    0.1% {
        clip: rect(133px, 9999px, 177px, 0);
    }
    0.2% {
        clip: rect(175px, 9999px, 96px, 0);
    }
    0.3% {
        clip: rect(176px, 9999px, 153px, 0);
    }
    0.4% {
        clip: rect(120px, 9999px, 150px, 0);
    }
    0.5% {
        clip: rect(173px, 9999px, 147px, 0);
    }
    0.6% {
        clip: rect(103px, 9999px, 68px, 0);
    }
    0.7% {
        clip: rect(120px, 9999px, 51px, 0);
    }
    0.8% {
        clip: rect(137px, 9999px, 192px, 0);
    }
    0.9% {
        clip: rect(178px, 9999px, 59px, 0);
    }
    1% {
        clip: rect(39px, 9999px, 119px, 0);
    }
}
@-webkit-keyframes glitch-4 {
    0% {
        clip: rect(156px, 9999px, 167px, 0);
    }
    0.1% {
        clip: rect(40px, 9999px, 8px, 0);
    }
    0.2% {
        clip: rect(172px, 9999px, 180px, 0);
    }
    0.3% {
        clip: rect(185px, 9999px, 50px, 0);
    }
    0.4% {
        clip: rect(5px, 9999px, 8px, 0);
    }
    0.5% {
        clip: rect(68px, 9999px, 54px, 0);
    }
    0.6% {
        clip: rect(17px, 9999px, 150px, 0);
    }
    0.7% {
        clip: rect(59px, 9999px, 17px, 0);
    }
    0.8% {
        clip: rect(20px, 9999px, 157px, 0);
    }
    0.9% {
        clip: rect(92px, 9999px, 127px, 0);
    }
    1% {
        clip: rect(200px, 9999px, 195px, 0);
    }
}
@keyframes glitch-4 {
    0% {
        clip: rect(156px, 9999px, 167px, 0);
    }
    0.1% {
        clip: rect(40px, 9999px, 8px, 0);
    }
    0.2% {
        clip: rect(172px, 9999px, 180px, 0);
    }
    0.3% {
        clip: rect(185px, 9999px, 50px, 0);
    }
    0.4% {
        clip: rect(5px, 9999px, 8px, 0);
    }
    0.5% {
        clip: rect(68px, 9999px, 54px, 0);
    }
    0.6% {
        clip: rect(17px, 9999px, 150px, 0);
    }
    0.7% {
        clip: rect(59px, 9999px, 17px, 0);
    }
    0.8% {
        clip: rect(20px, 9999px, 157px, 0);
    }
    0.9% {
        clip: rect(92px, 9999px, 127px, 0);
    }
    1% {
        clip: rect(200px, 9999px, 195px, 0);
    }
}
@-webkit-keyframes rotate3d {
    from {
        -webkit-transform: rotateY(0);
        -ms-transform: rotateY(0);
        transform: rotateY(0);
    }
    to {
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@keyframes rotate3d {
    from {
        -webkit-transform: rotateY(0);
        -ms-transform: rotateY(0);
        transform: rotateY(0);
    }
    to {
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@-webkit-keyframes rotate3d2 {
    0%, 100% {
        -webkit-transform: translateZ(15px) rotateY(0);
        -ms-transform: translateZ(15px) rotateY(0);
        transform: translateZ(15px) rotateY(0);
    }
    50% {
        -webkit-transform: translateZ(15px) rotateY(-10deg);
        -ms-transform: translateZ(15px) rotateY(-10deg);
        transform: translateZ(15px) rotateY(-10deg);
    }
}
@keyframes rotate3d2 {
    0%, 100% {
        -webkit-transform: translateZ(15px) rotateY(0);
        -ms-transform: translateZ(15px) rotateY(0);
        transform: translateZ(15px) rotateY(0);
    }
    50% {
        -webkit-transform: translateZ(15px) rotateY(-10deg);
        -ms-transform: translateZ(15px) rotateY(-10deg);
        transform: translateZ(15px) rotateY(-10deg);
    }
}
