/*.page-wrapper{*/
    /*overflow: hidden;*/
/*}*/
/*.page{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: none;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
/*}*/
.current{
    display: block;
    z-index: 1;
}
.text{
    position: absolute;
    text-align: center;
    color: #ffffff;
    width: 100%;
    font-family:arial, helvetica, sans-serif;
    bottom: 50%;
    margin:0 auto;
    font-size: 20pt;
}

.red{
    background-color: red;
}
.blue{
    background-color: #0078e7;
}
.yellow{
    background-color: #ffff00;
}
.green{
    background-color: green;
}